pkgbase = gcc-h8300-hms
	pkgdesc = h8300 cross GCC
	pkgver = 3.4.6
	pkgrel = 1
	arch = x86_64
	license = GPL
	depends = binutils-h8300-hms
	source = gcc-h8300-hms.deb::http://ftp.jp.debian.org/debian/pool/main/g/gcc-h8300-hms/gcc-h8300-hms_3.4.6+dfsg2-4_amd64.deb
	md5sums = f48cc0ee64b75fb4f0adbb98e9db23a3

pkgname = gcc-h8300-hms

